<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-md-12">

                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Tiền thu
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" action="/incomesList/edit/{id}"
                        method="post">
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <label for="exampleInputEmail1">Ngày tạo</label>
                                        <input class="form-control m-input" type="date" name="incomedate"
                                            value="{incomedate}" id="incomedate">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <label for="exampleInputPassword1">Tên khoản thu</label>
                                        <input type="text" class="form-control m-input" id="note" name="note"
                                            value="{note}">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <label for="exampleInputEmail1">Danh mục</label>
                                        <select class="form-control m-input" id="incomeCategorieid"
                                            name="incomeCategorieid" value="{incomeCategorieid}">
                                            {item-category}
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <label for="exampleInputPassword1">Số tiền(VND)</label>
                                        <input type="text" class="form-control m-input" id="money" name="money"
                                            value="{money}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <!-- <div class="col-md-6">
                                    <div class="form-group m-form__group">
                                        <label for="exampleTextarea">Ghi chú</label>
                                        <textarea class="form-control m-input" id="note"  name="note" value="{note}"></textarea>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">Sửa</button>
                                <a href="/incomesList" type="reset" class="btn btn-secondary">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>