<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Income Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="card">
            <div class="card-title">
                <div class="row">
                    <h3>Create</h3>
                    <hr>
                </div>
            </div>
            <div class="card-body">
                <form action="/incomesList/edit/{id}" method="post">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="incomedate" class="form-label">Date of creation</label>
                                <input type="date" name="incomedate" class="form-control" id="incomedate" value="{incomedate}">
                            </div>
                            <div class="col-md-4">
                                <label for="note" class="form-label">Source</label>
                                <input type="text" name="note" class="form-control" id="note" value="{note}">
                            </div>
                            <div class="col-md-4">
                                <label for="incomeCategorieid" class="form-label">CategoryInComme</label>
                                <select name="incomeCategorieid" id="incomeCategorieid" value="incomeCategorieid">
                                    {item-category}
                                </select>
                            </div>
                            <div class=" col-md-4">
                                <label for="money" class="form-label">Money</label>
                                <input name="money" class="form-control" id="money" value="{money}"></input>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>